[Unit]
Description=Sway Tiling Window Manager
After=default.target

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_CURRENT_DESKTOP=sway
ExecStart=/usr/bin/sway
Restart=on-failure

[Install]
WantedBy=default.target
