[Unit]
Description=XFCE Desktop Session
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/startxfce4
Restart=on-failure

[Install]
WantedBy=default.target
