.m2/settings.xml
.m2/keystore
.weechat/ssl/jckimble.pem
.gnupg/private-keys-v1.d
.gnupg/random_seed
.gnupg/pubring.kbx
.gnupg/trustdb.gpg
.gnupg/pubring.kbx~
.gnupg/crls.d
.gnupg/*.status
*.gpg
.gnupg/tofu.db
.weechat/logs/
.weechat/weechat.log
.gnupg/openpgp-revocs.d
.m2/repository
.cache
go
.wine
.local
Downloads
Desktop
AndroidStudioProjects
.AndroidStudio*
.zsnes
.android
.bundle
.crashlytics
.docker
.electron-gyp
.gem
.gradle
.mozilla
.node-gyp
.npm
.nvm
.kube
.macromedia
.pcsx
.pcsxr
.renpy
.steam
.vbam
.vim/bundle
.yadm/repo.git
