[user]
	email = me@jckimble.com
	name = James C Kimble
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[branch]
	autosetuprebase = always
[color]
	ui = auto
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = master
