[user]
	email = jckimble@pm.me
	name = James C Kimble
    signingkey = 2FA1E7C2049067E0
[push]
	default = simple
	followTags = true
[branch]
	autosetuprebase = always
[commit]
	gpgsign = true
[color]
	ui = auto
