.m2/settings.xml
.m2/keystore
.weechat/ssl/jckimble.pem
.gnupg/private-keys-v1.d
.gnupg/random_seed
.gnupg/pubring.kbx
.gnupg/trustdb.gpg
.gnupg/pubring.kbx~
.gnupg/crls.d
.gnupg/*.status
*.gpg
.config/Keybase
.config/Trolltech.conf
.config/autostart
.config/composer
.config/configstore
.config/dconf
.config/enchant
.config/gedit
.config/google-chrome
.config/gtk-2.0
.config/keybase
.config/menus
.config/nemo
.config/pavucontrol.ini
.config/pianobar/album
.config/pianobar/artist
.config/pianobar/coverArt
.config/pianobar/songDuration
.config/pianobar/songPlayed
.config/pianobar/state
.config/pianobar/title
.config/pulse
.config/pianobar/station
.config/systemd
.config/transmission
.config/Riot
