[Unit]
Description=Disable Wake On Lan

[Service]
Type=oneshot
ExecStart=/usr/bin/ethtool -s enp1s0f1 wol d
RemainAfterExit=true
ExecStop=/usr/bin/ethtool -s enp1s0f1 wol d
StandardOutput=journal

[Install]
WantedBy=multi-user.target
